      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
          <div class="col-md-12">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="/impressum">Impressum</a>
              </li>
              <li class="list-inline-item">
                <a href="/datenschutzerklaerung">Datenschutzerklärung</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 text-center">
            <span class="copyright">&copy; SW-Lackreparaturservice 2018</span>
          </div>
          <div class="col-md-6 text-center">
            <span class="copyright">Grapics by <a href="https://2penguins.eu" alt="2Penguins">2Penguins</a></span>
          </div>
        </div>
      </div>
    </footer>    
  </body>
</html>
