{{ partial "header.html" . }}

    <!-- Services -->
    <section id="services">
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-3 col-md-6 col-sm-12">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-check-circle fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Wie bieten Ihnen</h4>
            <ul class="lead text-left" style="margin: auto">
              <li>Reparaturen von Unfallschäden</li>
              <li>Entfernen von Kratzern, Beulen und Dellen</li>
              <li>Abwicklung von Versicherungsschäden</li>
              <li>Lackierungen aller Art</li>
              <li>Karosserieinstandsetzung</li>
              <li>Hagelschäden</li>
              <li>Smart-Repair</li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-clock fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Öffnungszeiten</h4>
            <p class="lead"><strong>Mo - Do</strong><br>8 - 17 Uhr</p>
            <p class="lead"><strong>Fr</strong><br>8 - 16 Uhr</p>
            <p class="lead"><strong>Sa</strong><br>Nach Absprache</p>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-envelope-open fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Kontakt</h4>
            <p class="lead">
              SW Lackreparaturservice<br>
              Stefan Erstling
            </p>
            <p class="lead"><strong>Telefon</strong><br>03301 / 577201</p>
            <p class="lead"><strong>Telefon</strong><br>0176 / 62068489</p>
            <p class="lead"><strong>Email</strong><br>info@sw-lack.de</p>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-map-marked-alt fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">So finden Sie uns</h4>
            <p class="lead">
              Germendorfer Allee 20<br>
              16515 Oranienburg<br><br>
              <iframe title="Google Maps: Germendorfer Allee 20, 16515 Oranienburg" width="260" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.de/maps?hl=de&amp;q=Germendorfer Allee 20, 16515 Oranienburg&amp;ie=UTF8&amp;t=&amp;z=12&amp;iwloc=B&amp;output=embed"></iframe>
            </p>
          </div>
        </div>
      </div>
    </section>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <!-- <script src="vendor/jquery-easing/jquery.easing.min.js"></script> -->

    <!-- Contact form JavaScript -->
    <!-- <script src="js/jqBootstrapValidation.js"></script> -->
    <!-- <script src="js/contact_me.js"></script> -->

    <!-- Custom scripts for this template -->
    <!-- <script src="js/agency.min.js"></script> -->

{{ partial "footer.html" . }}